# å®éªŒ5-Numpyå’ŒPandasåŸºç¡€ğŸ¿ï¸

<table style="margin: 0 auto;"> 
    <tr> 
        <td>ç­çº§</td> <td> 24è®¡ç§‘ </td> 
    </tr> 
    <tr> 
        <td>å­¦å·</td> <td>    </td> 
    </tr> 
    <tr> 
        <td>å§“å</td> <td>   </td> 
    </tr> 
</table>

- å‘é‡åŒ–
- Numpy
- Pandas

## å®éªŒæ³¨æ„äº‹é¡¹

1. è¯·åœ¨æŒ‡å®šçš„åœ°æ–¹æŒ‰ç…§å®éªŒæŒ‡å¯¼è¦æ±‚æ¥ç¼–å†™ä»£ç ã€‚
2. è¯·æŒ‰ç…§å®éªŒæŒ‡å¯¼è¦æ±‚ä½¿ç”¨æŒ‡å®šçš„å˜é‡åæˆ–å‡½æ•°åï¼Œä¸è¦ä½¿ç”¨å…¶ä»–çš„åå­—ã€‚
3. ä¸è¦æ·»åŠ ä»»ä½•é¢å¤–çš„è¯­å¥ã€‚
4. ä¸è¦æ·»åŠ ä»»ä½•é¢å¤–çš„ä»£ç å•å…ƒæ ¼ã€‚
5. ä¸è¦åœ¨ä¸éœ€è¦çš„åœ°æ–¹ä¿®æ”¹ä½œä¸šä»£ç ï¼Œæ¯”å¦‚åˆ›å»ºé¢å¤–çš„å˜é‡ï¼Œä¿®æ”¹æµ‹è¯•æ–‡ä»¶ä¸­çš„ä»£ç ã€‚
6. å®éªŒæŒ‡å¯¼ä¸­çš„`...`è¡¨ç¤ºéœ€è¦ä½ è¡¥å……ä»£ç çš„éƒ¨åˆ†ï¼Œå…¶ä»–éƒ¨åˆ†çš„ä»£ç ä¸ç”¨ä¿®æ”¹ã€‚
7. ä»£ç æç¤ºä¸­ä¼šç»™å‡ºä¼°è®¡çš„ä»£ç è¡Œæ•°ï¼Œä¾‹å¦‚å¤§çº¦1è¡Œä»£ç ï¼Œä¼°è®¡çš„ä»£ç è¡Œæ•°åªæ˜¯ä¸€ä¸ªå‚è€ƒå€¼ï¼Œå®é™…ç¼–å†™æ—¶å¯èƒ½ä¼šæœ‰å‡ºå…¥ï¼Œè¯·æ ¹æ®å®é™…æƒ…å†µæ¥ç¼–å†™ã€‚
8. è¯·ç‹¬ç«‹å®Œæˆä½œä¸šï¼Œç¦æ­¢æŠ„è¢­ï¼Œå‘ç°æŠ„è¢­è¡Œä¸ºæˆç»©è®°é›¶åˆ†

In [1]:
# å¯¼å…¥æµ‹è¯•ä»£ç 
from testset5 import *

## å‘é‡åŒ–ï¼ˆVectorizationï¼‰

`Numpy`å’Œ`Pandas`åœ¨æ•°æ®åˆ†æå’Œæœºå™¨å­¦ä¹ ä¸­éƒ½è¢«å¤§é‡åœ°ä½¿ç”¨ï¼Œé€šå¸¸é€†éœ€è¦å¤„ç†éå¸¸å¤§çš„æ•°æ®é›†ã€‚å› æ­¤ï¼Œä¸€ä¸ªéè®¡ç®—é«˜æ•ˆçš„å‡½æ•°å¯èƒ½ä¼šæˆä¸ºç®—æ³•ä¸­çš„å·¨å¤§ç“¶é¢ˆï¼Œä¸ºäº†ç¡®ä¿ä»£ç å…·æœ‰è®¡ç®—æ•ˆç‡ï¼Œä½ éœ€è¦ä½¿ç”¨å‘é‡åŒ–æ“ä½œã€‚

- åˆ©ç”¨`numpy`å’Œ`pandas`çš„å‡½æ•°æˆ–æ“ä½œå¯¹æ•´ä¸ªæ•°ç»„æˆ–æ•°ç»„çš„å­é›†è¿›è¡Œæ“ä½œ
- å°½å¯èƒ½é¿å…ä½¿ç”¨`for`å¾ªç¯å’Œ`while`å¾ªç¯é€ä¸ªå¤„ç†æ•°æ®é›†ä¸­çš„å…ƒç´ 
- å‘é‡åŒ–æ“ä½œçš„ç¼–ç¨‹èŒƒå¼åœ¨æ•°æ®åˆ†æã€æœºå™¨å­¦ä¹ é¢†åŸŸè¢«å¤§é‡åœ°ä½¿ç”¨ï¼Œä¾‹å¦‚ä¸‹é¢è¿™äº›æœ€æµè¡Œçš„æ·±åº¦å­¦ä¹ æ¡†æ¶
  - `pytorch`
  - `tensorflow`
  - ...

## NumpyğŸ

In [2]:
# å®‰è£…numpyæ¨¡å—
%pip install numpy

Requirement already satisfied: numpy in d:\workspaces\data-modeling-course-instructor\venv\lib\site-packages (1.24.4)
Note: you may need to restart the kernel to use updated packages.

### ä¸ºä»€ä¹ˆéœ€è¦Numpyâ“

- è¿è¡Œé€Ÿåº¦ï¼šNumPyæä¾›äº†é«˜æ•ˆçš„æ•°ç»„æ“ä½œåŠŸèƒ½(å‘é‡åŒ–æ“ä½œ)ï¼Œå¯ä»¥å¯¹å¤§è§„æ¨¡çš„æ•°æ®è¿›è¡Œå¿«é€Ÿçš„è®¡ç®—å’Œå¤„ç†
- æ–¹ä¾¿ä½¿ç”¨: å¤„ç†æ•°æ®çš„è¿‡ç¨‹æ›´åŠ ç®€æ´å’Œé«˜æ•ˆ
- åŠŸèƒ½ä¸°å¯Œï¼šæä¾›äº†ä¸°å¯Œçš„å‡½æ•°åº“ï¼Œå¯ä»¥æ–¹ä¾¿åœ°è¿›è¡Œæ•°å€¼è®¡ç®—å’Œç»Ÿè®¡åˆ†æã€‚

In [3]:
# å¯¼å…¥numpy
import numpy as np
np.random.seed(12345)

In [4]:
# é•¿åº¦100ä¸‡çš„numpyæ ¼å¼çš„æ•°ç»„
my_arr = np.arange(1_000_000)

# é•¿åº¦100ä¸‡çš„list
my_list = list(range(1_000_000))

- è®¡ç®—æ•°ç»„ä¸­ä¸€ç™¾ä¸‡ä¸ªæ•°çš„å¹³æ–¹ï¼Œä½¿ç”¨`timeit`æµ‹è¯•ä¸¤ç§æ–¹æ³•çš„è¿è¡Œæ—¶é—´
- ç»“è®ºï¼šå› ä¸º`numpy`çš„å‘é‡åŒ–æ“ä½œï¼Œæ‰€ä»¥è¿è¡Œé€Ÿåº¦è¿œè¿œå¿«è¿‡ä½¿ç”¨forå¾ªç¯çš„listã€‚

In [5]:
# print('numpy running time:')
# %timeit my_arr2 = my_arr ** 2

# print('\npython list running time:')
# %timeit my_list2 = [x ** 2 for x in my_list]

### Numpy ndarrayæ•°æ®ç»“æ„

numpyåªæœ‰ä¸€ç§æ•°æ®ç»“æ„ï¼šndarrayï¼Œå®ƒæ˜¯ä¸€ä¸ªå¤šç»´æ•°ç»„ï¼Œæ¯ä¸ªå…ƒç´ éƒ½æ˜¯ç›¸åŒç±»å‹çš„ã€‚

![ndarray](./img/2023-10-27-11-02-03.png)

In [6]:
import numpy as np

data = np.array([1, 2, 3])
data

array([1, 2, 3])

In [7]:
# ndarrayçš„æ•°æ®ç±»å‹,æ•°ç»„åªèƒ½åŒ…å«ç›¸åŒç±»å‹çš„æ•°æ®
data.dtype

dtype('int32')

### åˆ›å»ºndarray

![create ndarray](./img/2023-10-27-11-06-02.png)

In [8]:
np.ones(3)

array([1., 1., 1.])

In [9]:
np.zeros(3)

array([0., 0., 0.])

In [10]:
np.random.random(3)

array([0.92961609, 0.31637555, 0.18391881])

In [11]:
# ç±»ä¼¼Pythonä¸­çš„rangeå‡½æ•°
np.arange(10)

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

### ç®—æœ¯è¿ç®—

![åŠ æ³•è¿ç®—](./img/2023-10-27-11-16-15.png)

In [12]:
import numpy as np
data = np.array([1, 2, 3])
ones = np.array([1, 1, 100])
data + ones

array([  2,   3, 103])

![å…¶ä»–è¿ç®—](./img/2023-10-27-11-18-34.png)

In [13]:
data - ones

array([  0,   1, -97])

In [14]:
data * data

array([1, 4, 9])

In [15]:
data / data

array([1., 1., 1.])

In [16]:
data = np.array([2, 3])
print(data)
data ** data

[2 3]

array([ 4, 27])

![ä¹˜ä»¥ä¸€ä¸ªæ•°](./img/2023-10-27-11-20-07.png)

In [17]:
data * 1.6

array([3.2, 4.8])

### ä¹ é¢˜ä¸€

å®Œæˆä¸‹é¢çš„å‡½æ•°ä»£ç ï¼Œåœ¨å‡½æ•°ä¸­åˆ›å»ºä¸€ä¸ªé•¿åº¦ä¸º4çš„ä¸‰ä¸ªä¸€ç»´numpyæ•°åˆ—A, Bï¼ŒC. Açš„å…ƒç´ ä¸º1,2,3,4ï¼ŒBçš„å…ƒç´ ä¸º5,6,7,8ï¼ŒCçš„å…ƒç´ ä¸º0,0,0,0ã€‚æœ€åè¿”å›æ•°åˆ—Aï¼ŒBï¼ŒCä»¥åŠä»–ä»¬çš„å’Œã€‚è¯·æ³¨æ„ä¸è¦ä½¿ç”¨å¾ªç¯è¯­å¥éå†æ•°åˆ—ã€‚

In [18]:
def create_and_add_arrays():
    """åˆ›å»ºnumpyæ•°ç»„å¹¶ç›¸åŠ """
    # A = ... # åˆ›å»ºæ•°åˆ—Aï¼ŒåŒ…å«1, 2, 3, 4
    # B = ... # åˆ›å»ºæ•°åˆ—Bï¼ŒåŒ…å«5, 6, 7, 8
    # C = ... # åˆ›å»ºæ•°åˆ—Cï¼ŒåŒ…å«4ä¸ª0
    # D = ... # åˆ›å»ºæ•°åˆ—Dï¼Œç­‰äºå‰é¢3ä¸ªæ•°åˆ—çš„å’Œ
    # å¤§çº¦éœ€è¦4è¡Œä»£ç ï¼Œæ³¨æ„ä¸è¦ä½¿ç”¨å¾ªç¯

    # ä½ ç¼–å†™çš„ä»£ç ä»è¿™é‡Œå¼€å§‹
    A = np.array([1, 2, 3, 4])
    B = np.array([5, 6, 7, 8])
    C = np.zeros(4)
    D = A + B + C

    # ä½ ç¼–å†™çš„ä»£ç åˆ°è¿™é‡Œç»“æŸ
    return A, B, C, D

In [19]:
test_create_and_add_arrays(create_and_add_arrays)

æ­å–œä½ é€šè¿‡äº†ä¹ é¢˜ä¸€: test_create_and_add_arraysæµ‹è¯•ã€‚1/7

### ç´¢å¼•å’Œåˆ‡ç‰‡

numpyæ•°ç»„çš„ç´¢å¼•å’Œåˆ‡ç‰‡å’ŒPythonçš„åˆ—è¡¨ç±»ä¼¼ï¼Œä½†æ˜¯æœ‰ä¸€äº›ç‰¹æ®Šçš„åœ°æ–¹ã€‚

![ç´¢å¼•å’Œåˆ‡ç‰‡](./img/2023-10-27-11-35-38.png)

In [20]:
data = np.array([1, 2, 3])
print(data[0])
print(data[-1])
print(data[0:2])
print(data[1:])
print(data[::-1])

1
3
[1 2]
[2 3]
[3 2 1]

### ä¸€ç»´æ•°æ®çš„èšåˆ

![æ•°æ®çš„èšåˆ](./img/2023-10-27-11-40-03.png)

In [21]:
data = np.array([1, 2, 3])
print(data)

# æ±‚æœ€å¤§å€¼ã€æœ€å°å€¼ã€æ±‚å’Œ
print(data.max())
print(data.min())
print(data.sum())

# æ±‚å‡å€¼ã€æ ‡å‡†å·®
print(data.mean())
print(data.std())

# æ±‚æœ€å¤§å€¼ã€æœ€å°å€¼çš„ç´¢å¼•
print(data.argmax())   # è¿”å›2ï¼Œå³æœ€å¤§å€¼3çš„ç´¢å¼•
print(data.argmin())   # è¿”å›0ï¼Œå³æœ€å°å€¼1çš„ç´¢å¼•

[1 2 3]
3
1
6
2.0
0.816496580927726
2
0

### ä¹ é¢˜äºŒ

å‡½æ•°çš„è¾“å…¥æ˜¯ä¸¤ä¸ªä¸€ç»´numpyæ•°åˆ—Aå’ŒB(æ•°åˆ—éƒ½ä¸ä¸ºç©º)ï¼Œè¿”å›æ•°åˆ—Aä¸­çš„æœ€å¤§å€¼ä¸å’Œæ•°åˆ—Bçš„æœ€å°å€¼çš„ä¹˜ç§¯ã€‚è¯·æ³¨æ„ä¸è¦ä½¿ç”¨å¾ªç¯è¯­å¥éå†æ•°åˆ—ã€‚

In [22]:
def multiply_max_min(A, B):
    """è¿”å›æ•°åˆ—Aæœ€å¤§å€¼å’Œæ•°åˆ—Bæœ€å°å€¼çš„ä¹˜ç§¯"""
    # åªéœ€è¦1è¡Œä»£ç 
    # ä½ ç¼–å†™çš„ä»£ç ä»è¿™é‡Œå¼€å§‹


    # ä½ ç¼–å†™çš„ä»£ç åˆ°è¿™é‡Œç»“æŸ
    result = A.max() * B.min()
    return result

In [23]:
test_multiply_max_min(multiply_max_min)

æ­å–œä½ é€šè¿‡äº†ä¹ é¢˜äºŒ: test_multiply_max_minæµ‹è¯•ã€‚2/7

### äºŒç»´çŸ©é˜µ

![åˆ›å»ºäºŒç»´çŸ©é˜µ](./img/2023-10-27-11-52-59.png)

In [24]:
data = np.array([[1, 2], [3, 4]])
data

array([[1, 2],
       [3, 4]])

![åˆ›å»ºå¤šç»´æ•°æ®](./img/2023-10-27-11-54-20.png)

In [25]:
print(np.ones((3,2)))

[[1. 1.]
 [1. 1.]
 [1. 1.]]

In [26]:
print(np.zeros((3,2)))

[[0. 0.]
 [0. 0.]
 [0. 0.]]

In [27]:
print(np.random.random((3,2)))

[[0.20456028 0.56772503]
 [0.5955447  0.96451452]
 [0.6531771  0.74890664]]

In [28]:
np.diag([1, 2, 3])

array([[1, 0, 0],
       [0, 2, 0],
       [0, 0, 3]])

In [29]:
# å•å…ƒçŸ©é˜µ
np.eye(3)

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

### äºŒç»´çŸ©é˜µçš„ç´¢å¼•å’Œåˆ‡ç‰‡

![](./img/2023-10-27-12-08-39.png)

In [30]:
data = np.array([[1, 2, 3], [3, 4, 7], [5, 6, 9]])
print(data)

# ä½¿ç”¨è¡Œç´¢å¼•å’Œåˆ—ç´¢å¼•é€‰æ‹©åˆ°ä¸€ä¸ªå…ƒç´ 
print(data[0, 1])

# ä½¿ç”¨è¡Œç´¢å¼•çš„åˆ‡ç‰‡
print(data[1:3,:])

# è¡Œç´¢å¼•å’Œåˆ—ç´¢å¼•åŒæ—¶ä½¿ç”¨åˆ‡ç‰‡
print(data[0:2, ::2])

[[1 2 3]
 [3 4 7]
 [5 6 9]]
2
[[3 4 7]
 [5 6 9]]
[[1 3]
 [3 7]]

### ä¹ é¢˜ä¸‰

å·²çŸ¥ä¸€ä¸ªäºŒç»´çš„numpyçŸ©é˜µstocksï¼Œå…¶ä¸­æ¯ä¸€è¡Œä»£è¡¨è‹¥å¹²åªè‚¡ç¥¨æŸå¤©çš„æ”¶ç›˜ä»·æ ¼ï¼Œæ¯ä¸€åˆ—ä»£è¡¨æŸåªè‚¡ç¥¨è¿ç»­è‹¥å¹²å¤©çš„ä»·æ ¼ã€‚è¯·å®Œæˆå‡½æ•°ä»£ç ï¼Œè·å–æ¯åªè‚¡ç¥¨ä»ç¬¬ä¸€å¤©å¼€å§‹æ¯ä¸‰å¤©çš„ä»·æ ¼ã€‚è¯·æ³¨æ„ä¸è¦ä½¿ç”¨å¾ªç¯è¯­å¥éå†çŸ©é˜µã€‚

ä¾‹å¦‚ï¼š
```
stocks = np.array([[1,2,3,4,5,6,7,8,9,10],
                    [11,12,13,14,15,16,17,18,19,20],
                    [21,22,23,24,25,26,27,28,29,30],
                    [31,32,33,34,35,36,37,38,39,40]])       
``` 
è¿”å›ç»“æœä¸ºï¼š
```
np.array([[1,2,3,4,5,6,7,8,9,10],
            [31,32,33,34,35,36,37,38,39,40]]) 
```

In [31]:
def get_stocks_price(data):
    """è·å–è‚¡ç¥¨çš„æ”¶ç›˜ä»·"""
    # åªéœ€è¦1è¡Œä»£ç 
    # ä½ ç¼–å†™çš„ä»£ç ä»è¿™é‡Œå¼€å§‹

    # ä½ ç¼–å†™çš„ä»£ç åˆ°è¿™é‡Œç»“æŸ
    result = data[::3, :]
    return result

In [32]:
from testset5 import test_get_stocks_price
test_get_stocks_price(get_stocks_price)

æ­å–œä½ é€šè¿‡äº†ä¹ é¢˜ä¸‰test_get_stocks_priceæµ‹è¯•ã€‚3/7

### çŸ©é˜µè¿ç®—ğŸ§®

![çŸ©é˜µåŠ æ³•](./img/2023-10-27-12-03-47.png)

In [33]:
data = np.array([[1, 2], [3, 4]])
ones = np.ones([2, 2])
data + ones

array([[2., 3.],
       [4., 5.]])

![æŒ‰è¡Œç›¸åŠ ](./img/2023-10-27-12-04-55.png)

In [34]:
data = np.array([[1, 2], [3, 4], [5, 6]])
# æŒ‰è¡Œç›¸åŠ 
ones_row = np.ones([1, 1])
data + ones_row

array([[2., 3.],
       [4., 5.],
       [6., 7.]])

In [35]:
# æŒ‰åˆ—ç›¸åŠ 
column_data = np.array([10, 20, 30])

# è½¬æ¢ä¸ºåˆ—å‘é‡
print(column_data[:, np.newaxis])

data + column_data[:, np.newaxis]

[[10]
 [20]
 [30]]

array([[11, 12],
       [23, 24],
       [35, 36]])

### çŸ©é˜µçš„è½¬ç½®å’Œå˜å½¢

![çŸ©é˜µè£…ç½®](./img/2023-10-27-13-40-49.png)

In [36]:
# çŸ©é˜µè½¬ç½®
data = np.array([[1, 2],
                    [3, 4],
                    [5, 6]])
data.T

array([[1, 3, 5],
       [2, 4, 6]])

![reshape matrix](./img/2023-10-27-13-42-39.png)

In [37]:
data = np.arange(1, 7)
print(data)
print(data.reshape(2, 3))  # è½¬æ¢æˆ2 * 3çš„çŸ©é˜µ
print(data.reshape(3, 2))
print(data.reshape(6, 1))  # è½¬æ¢æˆ6 * 1çš„çŸ©é˜µ
print(data.reshape(6,))    # è½¬æ¢æˆä¸€ç»´çš„ 1 * 6 çš„æ•°åˆ—

[1 2 3 4 5 6]
[[1 2 3]
 [4 5 6]]
[[1 2]
 [3 4]
 [5 6]]
[[1]
 [2]
 [3]
 [4]
 [5]
 [6]]
[1 2 3 4 5 6]

In [38]:
data = np.arange(1, 7)
print(data)

# åœ¨reshapeå‡½æ•°ä¸­ï¼Œå¦‚æœæŒ‡å®šä¸€ä¸ªç»´åº¦ä¸º-1ï¼Œé‚£ä¹ˆreshapeå‡½æ•°ä¼šè‡ªåŠ¨è®¡ç®—è¿™ä¸ªç»´åº¦çš„å¤§å°
print(data.reshape(2, -1))  # æ¨ç®—å‡ºç¬¬äºŒä¸ªç»´åº¦åº”è¯¥ä¸º3ï¼Œè½¬æ¢æˆ2 * 3çš„çŸ©é˜µ
print(data.reshape(-1, 2))  # æ¨ç®—å‡ºç¬¬ä¸€ä¸ªç»´åº¦åº”è¯¥ä¸º3ï¼Œè½¬æ¢æˆ3 * 2çš„çŸ©é˜µ
print(data.reshape(-1,))    # æ¨ç®—å‡ºç¬¬ä¸€ä¸ªç»´åº¦åº”è¯¥ä¸º6ï¼Œè½¬æ¢æˆä¸€ç»´çš„ 1 * 6 çš„æ•°åˆ—

[1 2 3 4 5 6]
[[1 2 3]
 [4 5 6]]
[[1 2]
 [3 4]
 [5 6]]
[1 2 3 4 5 6]

### ä¹ é¢˜å››

ä¸‹é¢çš„å‡½æ•°è¾“å…¥æ˜¯äºŒç»´çŸ©é˜µ`A`, è¦æ±‚å‡½æ•°è·å–åˆ°`A`çš„å½¢çŠ¶`shape`ï¼Œæ ¹æ®å½¢çŠ¶è®¡ç®—çŸ©é˜µAå…ƒç´ ä¸ªæ•°ï¼Œå¹¶å°†`A`è½¬æ¢æˆä¸€ç»´æ•°åˆ—Bï¼Œæœ€åå°†æ•°åˆ—Bä¸­çš„å…ƒç´ é€†åºæ’åˆ—å,å‡½æ•°è¿”å›`shape`å’Œé€†åºåçš„æ•°åˆ—`B`ã€‚è¯·æ³¨æ„ä¸è¦ä½¿ç”¨å¾ªç¯è¯­å¥éå†çŸ©é˜µã€‚

ä¾‹å¦‚ï¼š
```python
A = np.array([
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9],
])
```

è¿”å›å€¼åº”è¯¥å¦‚ä¸‹ï¼š
```python
((3, 3), array([9, 8, 7, 6, 5, 4, 3, 2, 1]))
```

In [39]:
def reshape_and_reverse(A):
    """è·å–çŸ©é˜µå½¢çŠ¶ï¼Œå˜å½¢çŸ©é˜µï¼Œé€†åºæ•°åˆ—"""
    # shape = ...    # è·å–çŸ©é˜µAçš„å½¢çŠ¶
    # B = ...        # å°†çŸ©é˜µAè½¬æ¢æˆæ•°åˆ—B
    # B = ...        # å°†æ•°åˆ—Bé€†åº
    # å¤§çº¦éœ€è¦3è¡Œä»£ç 
    # ä½ ç¼–å†™çš„ä»£ç ä»è¿™é‡Œå¼€å§‹

    # ä½ ç¼–å†™çš„ä»£ç åˆ°è¿™é‡Œç»“æŸ
    shape = A.shape
    B = A.reshape(-1,)
    return shape, B[::-1]

In [40]:
M = np.arange(1, 10)
reshape_and_reverse(M.reshape(3,3))
# è¾“å‡ºçš„ç»“æœåº”è¯¥æ˜¯ï¼š ((3, 3), array([9, 8, 7, 6, 5, 4, 3, 2, 1]))

((3, 3), array([9, 8, 7, 6, 5, 4, 3, 2, 1]))

In [41]:
# æµ‹è¯•ä½ çš„ç¨‹åº
from testset5 import test_reshape_and_reverse
test_reshape_and_reverse(reshape_and_reverse)

æ­å–œä½ é€šè¿‡äº†ä¹ é¢˜å››test_reshape_and_reverseæµ‹è¯•ã€‚4/7

### çº¿æ€§ä»£æ•°

![dot product](./img/2023-10-27-13-11-55.png)

In [42]:
# ç‚¹ä¹˜
data = np.array([1, 2, 3])
power_of_tens = np.array([[1, 10],
                        [100, 1000],
                        [10000, 100000]])
data.dot(power_of_tens)

array([ 30201, 302010])

In [43]:
# @ç¬¦å·è¡¨ç¤ºç‚¹ä¹˜ï¼Œä¹Ÿå°±æ˜¯çŸ©é˜µä¹˜æ³•
data @ power_of_tens

array([ 30201, 302010])

In [44]:
# çŸ©é˜µæ±‚é€†
data = np.array([[1, 2], [3, 4]])
np.linalg.inv(data)

array([[-2. ,  1. ],
       [ 1.5, -0.5]])

In [45]:
# çŸ©é˜µè¡Œåˆ—å¼
np.linalg.det(data)

-2.0000000000000004

### ä¹ é¢˜äº”

ä¸‹é¢çš„å‡½æ•°è¾“å…¥å‚æ•°æ˜¯ä¸¤ä¸ªäºŒç»´çŸ©é˜µ`A`å’Œ`B`ï¼Œè¦æ±‚å‡½æ•°è®¡ç®—`A`å’Œ`B`çš„çŸ©é˜µä¹˜ç§¯ï¼Œå°†ä¹˜ç§¯ç»“æœçš„çŸ©é˜µ(ä¹˜ç§¯ç»“æœä¸æ˜¯å¥‡å¼‚çŸ©é˜µå¹¶ä¸”å¯é€†)æ±‚é€†åè¿”å›ç»“æœã€‚è¯·æ³¨æ„ä¸è¦ä½¿ç”¨å¾ªç¯è¯­å¥éå†çŸ©é˜µã€‚

ä¾‹å¦‚ï¼š
```python
A = np.array([
    [1, 2],
    [3, 4]
])

B = np.array([
    [1, 0],
    [0, 1],
])
```

è¿”å›å€¼åº”è¯¥å¦‚ä¸‹ï¼š
```python
array([[-2. ,  1. ],
       [ 1.5, -0.5]])
```

In [46]:
def matrix_product_and_inverse(A, B):
    """
    è®¡ç®—çŸ©é˜µAå’ŒBçš„ä¹˜ç§¯,ç„¶åæ±‚é€†
    """
    # product = ...    # è®¡ç®—çŸ©é˜µAå’ŒBçš„ä¹˜ç§¯
    # inverse = ...    # çŸ©é˜µæ±‚é€†
    # å¤§çº¦éœ€è¦2è¡Œä»£ç 
    # ä½ ç¼–å†™çš„ä»£ç ä»è¿™é‡Œå¼€å§‹

    # ä½ ç¼–å†™çš„ä»£ç åˆ°è¿™é‡Œç»“æŸ
    product = np.dot(A, B)
    inverse = np.linalg.inv(product)
    return inverse

In [47]:
m1 = np.array([
    [1, 2],
    [3, 4]
])
m2 = np.eye(2)
matrix_product_and_inverse(m1, m2)
# è¾“å‡ºç»“æœåº”è¯¥æ˜¯ï¼š array([[-2. ,  1. ],  [ 1.5, -0.5]])

array([[-2. ,  1. ],
       [ 1.5, -0.5]])

In [48]:
from testset5 import test_matrix_product_and_inverse
test_matrix_product_and_inverse(matrix_product_and_inverse)

æ­å–œä½ é€šè¿‡äº†ä¹ é¢˜6test_matrix_product_and_inverseæµ‹è¯•ã€‚5/7

### çŸ©é˜µçš„èšåˆ

![çŸ©é˜µèšåˆä¸€](./img/2023-10-27-13-33-54.png)

In [49]:
data = np.array([[1, 2],[5, 3], [4, 6]])
print(data.max())
print(data.min())
print(data.sum())

6
1
21

![çŸ©é˜µèšåˆäºŒ](./img/2023-10-27-13-34-55.png)

In [50]:
print(data)
print('æ±‚æ¯åˆ—æœ€å¤§å€¼:',data.max(axis=0))

print('æ±‚æ¯è¡Œæœ€å¤§å€¼:',data.max(axis=1))

print('è®¡ç®—æ¯åˆ—çš„å’Œ:',data.sum(axis=0))

print('è®¡ç®—æ¯è¡Œçš„å’Œ:',data.sum(axis=1))

print('è®¡ç®—æ¯åˆ—çš„å¹³å‡å€¼:', data.mean(axis=0))

[[1 2]
 [5 3]
 [4 6]]
æ±‚æ¯åˆ—æœ€å¤§å€¼: [5 6]
æ±‚æ¯è¡Œæœ€å¤§å€¼: [2 5 6]
è®¡ç®—æ¯åˆ—çš„å’Œ: [10 11]
è®¡ç®—æ¯è¡Œçš„å’Œ: [ 3  8 10]
è®¡ç®—æ¯åˆ—çš„å¹³å‡å€¼: [3.33333333 3.66666667]

### ä¹ é¢˜å…­

ä¸‹é¢å‡½æ•°çš„è¾“å…¥å‚æ•°æ˜¯äºŒç»´çŸ©é˜µï¼Œå­˜å‚¨äº†æŸç­çº§å­¦ç”Ÿçš„å„ç§‘çš„æˆç»©ï¼Œæ¯ä¸€è¡Œä»£è¡¨ä¸€ä¸ªå­¦ç”Ÿçš„å„ç§‘æˆç»©ï¼Œæ¯ä¸€åˆ—ä»£è¡¨ä¸€é—¨è¯¾ç¨‹çš„æ‰€æœ‰å­¦ç”Ÿçš„æˆç»©ã€‚è¦æ±‚å‡½æ•°è®¡ç®—æ¯é—¨è¯¾ç¨‹çš„å¹³å‡æˆç»©å’Œæ¯ä¸ªå­¦ç”Ÿçš„æ€»æˆç»©ã€‚è¯·æ³¨æ„ä¸è¦ä½¿ç”¨å¾ªç¯è¯­å¥éå†çŸ©é˜µã€‚

ä¾‹å¦‚ï¼š
```python
scores = np.array([
    [80, 90, 85],
    [70, 60, 65],
    [90, 80, 85],
    [85, 75, 80],
    [60, 70, 75],
])
```

è¿”å›å€¼åº”è¯¥å¦‚ä¸‹ï¼š
```python
(array([77., 75., 78.]), array([255., 195., 255., 240., 205.]))
```

In [51]:
def compute_scores(scores):
    """
    è®¡ç®—æ¯ä¸ªå­¦ç”Ÿçš„æ€»åˆ†å’Œæ¯é—¨ç§‘ç›®çš„å¹³å‡åˆ†
    """
    # mean = ...     # è®¡ç®—æ¯ä¸ªç§‘ç›®çš„å¹³å‡åˆ†
    # total = ...    # è®¡ç®—æ¯ä¸ªå­¦ç”Ÿçš„æ€»åˆ†
    # å¤§çº¦éœ€è¦2è¡Œä»£ç 
    # ä½ ç¼–å†™çš„ä»£ç ä»è¿™é‡Œå¼€å§‹


    # ä½ ç¼–å†™çš„ä»£ç åˆ°è¿™é‡Œç»“æŸ
    total = scores.sum(axis=1)
    mean = scores.mean(axis=0)
    return  mean, total

In [52]:
scores = np.array([
    [80, 90, 85],
    [70, 60, 65],
    [90, 80, 85],
    [85, 75, 80],
    [60, 70, 75],
])
compute_scores(scores)
# è¾“å‡ºç»“æœåº”è¯¥æ˜¯ï¼š (array([77. , 75. , 78.]), array([255, 195, 255, 240, 205]))

(array([77., 75., 78.]), array([255, 195, 255, 240, 205]))

In [53]:
# æµ‹è¯•ä½ çš„ç¨‹åº
from testset5 import test_compute_scores
test_compute_scores(compute_scores)

æ­å–œä½ é€šè¿‡äº†ä¹ é¢˜6 test_compute_scores æµ‹è¯•ã€‚6/7

### æ›´é«˜ç»´çš„æ•°ç»„ï¼ˆtensor--å¼ é‡ï¼‰

![](./img/2023-10-27-14-11-21.png)

In [54]:
np.arange(1,9).reshape(2, 2, 2)

array([[[1, 2],
        [3, 4]],

       [[5, 6],
        [7, 8]]])

In [55]:
print(np.ones((4, 3, 2)))
print(np.zeros((4, 3, 2)))
print(np.random.random((4, 3, 2)))

[[[1. 1.]
  [1. 1.]
  [1. 1.]]

 [[1. 1.]
  [1. 1.]
  [1. 1.]]

 [[1. 1.]
  [1. 1.]
  [1. 1.]]

 [[1. 1.]
  [1. 1.]
  [1. 1.]]]
[[[0. 0.]
  [0. 0.]
  [0. 0.]]

 [[0. 0.]
  [0. 0.]
  [0. 0.]]

 [[0. 0.]
  [0. 0.]
  [0. 0.]]

 [[0. 0.]
  [0. 0.]
  [0. 0.]]]
[[[0.65356987 0.74771481]
  [0.96130674 0.0083883 ]
  [0.10644438 0.29870371]]

 [[0.65641118 0.80981255]
  [0.87217591 0.9646476 ]
  [0.72368535 0.64247533]]

 [[0.71745362 0.46759901]
  [0.32558468 0.43964461]
  [0.72968908 0.99401459]]

 [[0.67687371 0.79082252]
  [0.17091426 0.02684928]
  [0.80037024 0.90372254]]]

### Numpyçš„åº”ç”¨

- çº¿æ€§ä»£æ•°ï¼Œç»Ÿè®¡å­¦æ–¹é¢çš„è¿ç®—
- è¡¨ç¤ºå„ç§ç±»å‹çš„æ•°æ®ï¼šå›¾åƒï¼ŒéŸ³é¢‘ï¼Œæ–‡æœ¬
- ç”¨äºæœºå™¨å­¦ä¹ å’Œæ·±åº¦å­¦ä¹ çš„ç®—æ³•

![è¡¨ç¤ºéŸ³é¢‘æ•°æ®](./img/2023-10-27-14-19-04.png)

![image data](./img/2023-10-27-14-20-34.png)

![colorful image](./img/2023-10-27-14-21-52.png)

## PandasğŸ¼

### `Pandas`æ•°æ®ç»“æ„

`Pandas`æ˜¯åŸºäº`Numpy`çš„ä¸€ä¸ªæ•°æ®å¤„ç†åº“ï¼Œæä¾›äº†ä¸¤ç§æ•°æ®ç»“æ„ï¼š`Series`å’Œ`DataFrame`ã€‚

- `Series`æ˜¯ä¸€ä¸ªä¸€ç»´çš„æ•°æ®ç»“æ„ï¼Œç±»ä¼¼äº`Numpy`ä¸­çš„ä¸€ç»´æ•°ç»„ï¼Œä¸åŒçš„æ˜¯`Series`å¯ä»¥æœ‰éæ•´æ•°çš„ç´¢å¼•ï¼ˆè¢«ç§°ä½œæ ‡ç­¾ï¼‰ï¼Œå¯ä»¥é€šè¿‡æ ‡ç­¾æ¥è®¿é—®æ•°æ®ã€‚
- `DataFrame`æ˜¯ä¸€ä¸ªäºŒç»´çš„æ•°æ®ç»“æ„ï¼Œç±»ä¼¼äºç”µå­è¡¨æ ¼æˆ–è€…SQLè¡¨ï¼Œå¯ä»¥å­˜å‚¨å¤šç§ç±»å‹çš„æ•°æ®ï¼Œå¯ä»¥é€šè¿‡è¡Œå’Œåˆ—çš„ç´¢å¼•(å¯ä»¥ä¸æ˜¯æ•´æ•°)æ¥è®¿é—®æ•°æ®, `DataFrame`å¯ä»¥çœ‹ä½œæ˜¯ç”±å¤šä¸ª`Series`ç»„æˆçš„ã€‚

### åŠ è½½æ•°æ®

![åŠ è½½æ•°æ®](./img/2023-10-31-07-58-44.png)

In [56]:
import pandas as pd

# è¯»å–csvæ–‡ä»¶,å¾—åˆ°äºŒç»´ç»“æ„çš„æ•°æ®ï¼š DataFrame
df = pd.read_csv('./data/music.csv')
df

           Artist Genre  Listeners     Plays
0  Billie Holiday  Jazz    1300000  27000000
1    Jimi Hendrix  Rock    2700000  70000000
2     Miles Davis  Jazz    1500000  48000000
3             SIA   Pop    2000000  74000000

pandaså¯ä»¥ä»ä¸‹é¢è¿™äº›æ¥æºåŠ è½½æ•°æ®ï¼š

- CSV
- Excel
- HTML
- JSON
- SQL
- API
- ç­‰ç­‰å…¶ä»–

### é€‰æ‹©æ•°æ®

In [57]:
# æŒ‰ç…§åˆ—åé€‰æ‹©æ•°æ®
df['Artist']

0    Billie Holiday
1      Jimi Hendrix
2       Miles Davis
3               SIA
Name: Artist, dtype: object

In [58]:
# é€‰æ‹©å¤šåˆ—æ•°æ®
df[['Artist', 'Plays']]

           Artist     Plays
0  Billie Holiday  27000000
1    Jimi Hendrix  70000000
2     Miles Davis  48000000
3             SIA  74000000

In [59]:
# æŒ‰ç…§è¡Œç´¢å¼•é€‰æ‹©æ•°æ®
df[1:3]

         Artist Genre  Listeners     Plays
1  Jimi Hendrix  Rock    2700000  70000000
2   Miles Davis  Jazz    1500000  48000000

In [60]:
# æŒ‰ç…§è¡Œç´¢å¼•å’Œåˆ—ç´¢å¼•é€‰æ‹©æ•°æ®
df.loc[1:3, ['Artist', 'Plays']]

         Artist     Plays
1  Jimi Hendrix  70000000
2   Miles Davis  48000000
3           SIA  74000000

### è¿‡æ»¤æ•°æ®

In [61]:
df[df['Genre']=='Jazz']

           Artist Genre  Listeners     Plays
0  Billie Holiday  Jazz    1300000  27000000
2     Miles Davis  Jazz    1500000  48000000

In [62]:
df[df['Listeners'] > 1800000]

         Artist Genre  Listeners     Plays
1  Jimi Hendrix  Rock    2700000  70000000
3           SIA   Pop    2000000  74000000

### å¤„ç†æ•°æ®ç¼ºå¤±çš„æƒ…å†µ

![dropna](./img/2023-10-31-08-20-30.png)

In [63]:
df2 = pd.read_csv('./data/music copy.csv')
df2

           Artist   Genre  Listeners       Plays
0  Billie Holiday   Jazz     1300000  27000000.0
1  Jimi Hendrix     Rock     2700000         NaN
2  Miles Davis      Jazz     1500000  48000000.0
3  SIA              Pop      2000000  74000000.0

In [64]:
df2.dropna()

           Artist   Genre  Listeners       Plays
0  Billie Holiday   Jazz     1300000  27000000.0
2  Miles Davis      Jazz     1500000  48000000.0
3  SIA              Pop      2000000  74000000.0

In [65]:
df2.fillna(method='ffill')

           Artist   Genre  Listeners       Plays
0  Billie Holiday   Jazz     1300000  27000000.0
1  Jimi Hendrix     Rock     2700000  27000000.0
2  Miles Davis      Jazz     1500000  48000000.0
3  SIA              Pop      2000000  74000000.0

### Grouping

In [66]:
df.groupby('Genre').sum()

       Listeners     Plays
Genre
Jazz     2800000  75000000
Pop      2000000  74000000
Rock     2700000  70000000

### åˆ›å»ºæ–°çš„åˆ—

In [67]:
# è®¡ç®—æ¯ä¸ªæ­Œæ‰‹çš„å¹³å‡æ’­æ”¾é‡
df['Avg Plays'] = df['Plays'] / df['Listeners']
df

           Artist Genre  Listeners     Plays  Avg Plays
0  Billie Holiday  Jazz    1300000  27000000  20.769231
1    Jimi Hendrix  Rock    2700000  70000000  25.925926
2     Miles Davis  Jazz    1500000  48000000  32.000000
3             SIA   Pop    2000000  74000000  37.000000

### ä¹ é¢˜ä¸ƒ

å‡½æ•°è¾“å…¥çš„DataFrameæ•°æ®æ ¼å¼å¦‚ä¸‹ï¼š

| åˆ—å         | ç±»å‹    |  
|--------------|---------|  
| name         | varchar |  
| continent    | varchar |  
| area         | int     |  
| population   | int     |  
| gdp          | bigint  |

**`name` æ˜¯è¡¨çš„ä¸»é”®ï¼ˆå…·æœ‰å”¯ä¸€å€¼çš„åˆ—ï¼‰ã€‚**  
è¡¨ä¸­çš„æ¯ä¸€è¡Œæä¾›äº†ä¸€ä¸ªå›½å®¶çš„ä¿¡æ¯ï¼ŒåŒ…æ‹¬å›½å®¶åç§°ã€æ‰€å±å¤§é™†ã€å›½åœŸé¢ç§¯ã€äººå£æ•°é‡ä»¥åŠ GDP å€¼ã€‚

---

**ä¸€ä¸ªå›½å®¶è¢«è®¤ä¸ºæ˜¯â€œå¤§å›½â€å¦‚æœï¼š**  
- å®ƒçš„å›½åœŸé¢ç§¯è‡³å°‘ä¸º 3,000,000 å¹³æ–¹åƒç±³ï¼ˆå³ 3000000 kmÂ²ï¼‰ï¼›æˆ–  
- å®ƒçš„äººå£æ•°é‡è‡³å°‘ä¸º 25,000,000ï¼ˆå³ 25000000ï¼‰ã€‚  

è¯·ç¼–å†™ä¸€ä¸ªå‡½æ•°ï¼ŒæŸ¥è¯¢â€œå¤§å›½â€çš„åç§°ã€äººå£å’Œå›½åœŸé¢ç§¯ï¼Œè¿”å›ç»“æœè¡¨çš„é¡ºåºå¯ä»¥ä»»æ„ã€‚è¯·æ³¨æ„ä¸è¦ä½¿ç”¨å¾ªç¯è¯­å¥éå†æ•°æ®ã€‚

---

ä¾‹å¦‚ï¼š

**è¾“å…¥ï¼š**  
World è¡¨ï¼š  
| name        | continent | area    | population | gdp          |  
|-------------|-----------|---------|------------|--------------|  
| Afghanistan | Asia      | 652230  | 25500100   | 20343000000  |  
| Albania     | Europe    | 28748   | 2831741    | 12960000000  |  
| Algeria     | Africa    | 2381741 | 37100000   | 188681000000 |  
| Andorra     | Europe    | 468     | 78115      | 3712000000   |  
| Angola      | Africa    | 1246700 | 20609294   | 100990000000 |  

**è¾“å‡ºï¼š**  
| name        | population | area    |  
|-------------|------------|---------|  
| Afghanistan | 25500100   | 652230  |  
| Algeria     | 37100000   | 2381741 |

In [68]:
def big_countries(df):
    """
    è·å–â€œå¤§å›½â€çš„å›½å®¶åç§°ã€äººå£å’Œé¢ç§¯ã€‚
    ä¸€ä¸ªå›½å®¶è¢«è®¤ä¸ºæ˜¯â€œå¤§å›½â€å¦‚æœï¼š
    - é¢ç§¯è‡³å°‘ä¸º 3,000,000 å¹³æ–¹åƒç±³ (3000000) æˆ–
    - äººå£è‡³å°‘ä¸º 25,000,000 (25000000)
    """

    # big_countries = ...    # è¿‡æ»¤è·å–äººå£è‡³å°‘ä¸º25000000æˆ–è€…ï¼ˆä½¿ç”¨â€œ|â€æ“ä½œç¬¦ï¼‰é¢ç§¯è‡³å°‘ä¸º3000000çš„å›½å®¶
    # result = ...            # æŸ¥è¯¢â€œå¤§å›½â€çš„åç§°ã€äººå£å’Œå›½åœŸé¢ç§¯è¿™ä¸‰åˆ—çš„æ•°æ®
    # å¤§çº¦éœ€è¦3è¡Œä»£ç 
    # ä½ ç¼–å†™çš„ä»£ç ä»è¿™é‡Œå¼€å§‹

    result = df.loc[(df['area'] >= 3000000) | (df['population'] >= 25000000), ['name', 'population', 'area']]
    # ä½ ç¼–å†™çš„ä»£ç åˆ°è¿™é‡Œç»“æŸ
    return result

In [69]:
data = {
    "name": ["Afghanistan", "Albania", "Algeria", "Andorra", "Angola"],
    "continent": ["Asia", "Europe", "Africa", "Europe", "Africa"],
    "area": [652230, 28748, 2381741, 468, 1246700],
    "population": [25500100, 2831741, 37100000, 78115, 20609294],
    "gdp": [20343000000, 12960000000, 188681000000, 3712000000, 100990000000]
}
df = pd.DataFrame(data)
print(big_countries(df))
# è¾“å‡ºç»“æœåº”è¯¥æ˜¯ï¼š
#           name  population     area
# 0  Afghanistan    25500100   652230
# 2      Algeria    37100000  2381741

          name  population     area
0  Afghanistan    25500100   652230
2      Algeria    37100000  2381741

In [70]:
# æµ‹è¯•ä½ çš„ç¨‹åº
from testset5 import test_big_countries
test_big_countries(big_countries)

æ­å–œä½ é€šè¿‡äº†ä¹ é¢˜7test_big_countriesæµ‹è¯•ã€‚7/7

## æ‰©å±•é˜…è¯»ğŸ“–

- Numpyæ–‡ç« ï¼š[A Visual Intro to NumPy and Data Representation](https://jalammar.github.io/visual-numpy/)

- Numpyæ–‡ç« çš„ä¸­æ–‡ç‰ˆï¼š[Numpyå’Œæ•°æ®å±•ç¤ºçš„å¯è§†åŒ–ä»‹ç»](http://www.junphy.com/wordpress/index.php/2019/10/24/visual-numpy)

- Pandasæ–‡ç« :[A Gentle Visual Intro to Data Analysis in Python Using Pandas](https://jalammar.github.io/gentle-visual-intro-to-data-analysis-python-pandas)

å‚è€ƒä¹¦ï¼š[åˆ©ç”¨Pythonè¿›è¡Œæ•°æ®åˆ†æï¼ˆåŸä¹¦ç¬¬3ç‰ˆ)](https://m.douban.com/book/subject/36632126/)

githubåœ°å€ï¼š[åˆ©ç”¨Pythonè¿›è¡Œæ•°æ®åˆ†æï¼ˆåŸä¹¦ç¬¬3ç‰ˆ)æºä»£ç ](https://github.com/wesm/pydata-book)

## å®éªŒè‡ªåŠ¨è¯„åˆ†

è¯·è¿è¡Œä¸‹é¢çš„ä»£ç è¿›è¡Œå®éªŒè‡ªåŠ¨è¯„åˆ†

In [71]:
from testset5 import grade_all_tests
grade_all_tests([create_and_add_arrays,
    multiply_max_min,
    get_stocks_price,
    reshape_and_reverse,
    matrix_product_and_inverse,
    compute_scores,
    big_countries,])

æ­å–œä½ é€šè¿‡äº†ä¹ é¢˜ä¸€: test_create_and_add_arraysæµ‹è¯•ã€‚1/7
æ­å–œä½ é€šè¿‡äº†ä¹ é¢˜äºŒ: test_multiply_max_minæµ‹è¯•ã€‚2/7
æ­å–œä½ é€šè¿‡äº†ä¹ é¢˜ä¸‰test_get_stocks_priceæµ‹è¯•ã€‚3/7
æ­å–œä½ é€šè¿‡äº†ä¹ é¢˜å››test_reshape_and_reverseæµ‹è¯•ã€‚4/7
æ­å–œä½ é€šè¿‡äº†ä¹ é¢˜6test_matrix_product_and_inverseæµ‹è¯•ã€‚5/7
æ­å–œä½ é€šè¿‡äº†ä¹ é¢˜6 test_compute_scores æµ‹è¯•ã€‚6/7
æ­å–œä½ é€šè¿‡äº†ä¹ é¢˜7test_big_countriesæµ‹è¯•ã€‚7/7
æ­å–œä½ 7/7 ä¸ªæµ‹è¯•
ä½ çš„ä»£ç è‡ªåŠ¨è¯„åˆ†æˆç»©æ˜¯ï¼š70

## å®éªŒæ€»ç»“

è¯·å°½é‡ä½¿ç”¨è‡ªå·±çš„è¯­è¨€å›ç­”ä¸‹é¢çš„é—®é¢˜ã€‚

é—®é¢˜ä¸€ï¼š ä¸ºä»€ä¹ˆåœ¨å¯¹å¤§è§„æ¨¡æ•°æ®è¿›è¡Œè®¡ç®—æ—¶ï¼Œè¦ä½¿ç”¨numpyè¿™æ ·çš„å‘é‡åŒ–æ“ä½œï¼ˆå°½é‡é¿å…ä½¿ç”¨forå¾ªç¯ï¼‰ï¼Ÿ

é—®é¢˜2ï¼š åœ¨Numpyä¸­æœ‰å“ªäº›èšåˆæ“ä½œï¼Œèšåˆæ“ä½œä¸­çš„axiså‚æ•°æ˜¯ä»€ä¹ˆæ„æ€ï¼Ÿ